@charset "UTF-8";
.icon.icon-filetype {
  display: inline-block;
  float: left;
  width: 64px;
  height: 48px;
  margin-top: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon.icon-filetype.icon-sm {
  margin-top: 2px;
  width: 32px;
  height: 24px;
}
.icon.icon-filetype.icon-lg {
  margin-top: 8px;
  width: 96px;
  height: 72px;
}
.icon.icon-filetype.icon-image-bmp {
  background-image: url("../images/image-bmp.png");
}
.icon.icon-filetype.icon-image-gif {
  background-image: url("../images/image-gif.png");
}
.icon.icon-filetype.icon-image-jpeg {
  background-image: url("../images/image-jpeg.png");
}
.icon.icon-filetype.icon-image-png {
  background-image: url("../images/image-png.png");
}
.icon.icon-filetype.icon-image-svg {
  background-image: url("../images/image-svg.png");
}
.icon.icon-filetype.icon-image-tiff {
  background-image: url("../images/image-tiff.png");
}
.icon.icon-filetype.icon-image-webp {
  background-image: url("../images/image-webp.png");
}
.icon.icon-filetype.icon-video-avi {
  background-image: url("../images/video-avi.png");
}
.icon.icon-filetype.icon-video-mkv {
  background-image: url("../images/video-mkv.png");
}
.icon.icon-filetype.icon-video-mov {
  background-image: url("../images/video-mov.png");
}
.icon.icon-filetype.icon-video-mp4 {
  background-image: url("../images/video-mp4.png");
}
.icon.icon-filetype.icon-video-mpeg {
  background-image: url("../images/video-mpeg.png");
}
.icon.icon-filetype.icon-video-ogv {
  background-image: url("../images/video-ogv.png");
}
.icon.icon-filetype.icon-video-webm {
  background-image: url("../images/video-webm.png");
}
.icon.icon-filetype.icon-video-wmv {
  background-image: url("../images/video-wmv.png");
}
.icon.icon-filetype.icon-audio-aac {
  background-image: url("../images/audio-aac.png");
}
.icon.icon-filetype.icon-audio-mka {
  background-image: url("../images/audio-mka.png");
}
.icon.icon-filetype.icon-audio-mp3 {
  background-image: url("../images/audio-mp3.png");
}
.icon.icon-filetype.icon-audio-mp4 {
  background-image: url("../images/audio-mp4.png");
}
.icon.icon-filetype.icon-audio-ogg {
  background-image: url("../images/audio-ogg.png");
}
.icon.icon-filetype.icon-audio-rm {
  background-image: url("../images/audio-rm.png");
}
.icon.icon-filetype.icon-audio-wav {
  background-image: url("../images/audio-wav.png");
}
.icon.icon-filetype.icon-audio-weba {
  background-image: url("../images/audio-weba.png");
}
.icon.icon-filetype.icon-audio-wma {
  background-image: url("../images/audio-wma.png");
}
.icon.icon-filetype.icon-document-csv {
  background-image: url("../images/document-csv.png");
}
.icon.icon-filetype.icon-document-doc {
  background-image: url("../images/document-doc.png");
}
.icon.icon-filetype.icon-document-json {
  background-image: url("../images/document-json.png");
}
.icon.icon-filetype.icon-document-odf {
  background-image: url("../images/document-odf.png");
}
.icon.icon-filetype.icon-document-odp {
  background-image: url("../images/document-odp.png");
}
.icon.icon-filetype.icon-document-ods {
  background-image: url("../images/document-ods.png");
}
.icon.icon-filetype.icon-document-pdf {
  background-image: url("../images/document-pdf.png");
}
.icon.icon-filetype.icon-document-ppt {
  background-image: url("../images/document-ppt.png");
}
.icon.icon-filetype.icon-document-rtf {
  background-image: url("../images/document-rtf.png");
}
.icon.icon-filetype.icon-document-txt {
  background-image: url("../images/document-txt.png");
}
.icon.icon-filetype.icon-document-xls {
  background-image: url("../images/document-xls.png");
}
.icon.icon-filetype.icon-unknown {
  background-image: url("../images/unknown.png");
}

.upload-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 180px;
  align-items: center;
  align-content: center;
  padding: 15px;
  border: 2px dashed #c7c7c7;
  background: #ffffff;
  margin-bottom: 15px;
}
.upload-wrapper label {
  display: inline-flex;
  margin-left: 0;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  align-items: center;
}
.upload-wrapper label:before {
  display: inline-flex;
  margin-left: 0;
  margin-right: 0;
  content: "";
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 4rem;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.upload-wrapper label:after {
  display: inline-flex;
  margin-left: 0;
  margin-right: 0;
  content: "Drag and drop a files here or click for select";
  content: attr(data-label);
  color: #c7c7c7;
  font-weight: normal;
  font-size: 2rem;
}
.upload-wrapper input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}
.upload-wrapper .help-block {
  display: inline-flex;
  margin-left: 0;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: 0px;
}
.upload-wrapper .help-block:empty {
  display: none;
}
.upload-wrapper:hover {
  background: #f7f7f7;
}
.upload-wrapper.has-drag {
  border-color: #1786DB;
  background: rgba(23, 134, 219, 0.05);
}
.upload-wrapper.has-drag label {
  color: #1786DB;
}
.upload-wrapper.has-drag:hover {
  background: rgba(23, 134, 219, 0.05);
}
.upload-wrapper.has-success {
  border-color: #3c763d;
  background: rgba(60, 118, 61, 0.05);
}
.upload-wrapper.has-success label {
  color: #3c763d;
}
.upload-wrapper.has-success:hover {
  background: rgba(60, 118, 61, 0.05);
}
.upload-wrapper.has-error {
  border-color: #a94442;
  background: rgba(169, 68, 66, 0.05);
}
.upload-wrapper.has-error label {
  color: #a94442;
}
.upload-wrapper.has-error:hover {
  background: rgba(169, 68, 66, 0.05);
}

/*# sourceMappingURL=media.css.map */
